<!DOCTYPE html>
<html>
<head>
	<title>My Angular App!</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="app.js"></script>
</head>
<body ng-app="flapperNews" ng-controller="MainCtrl">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<ui-view></ui-view>
		</div>
	</div>

	<script type="text/ng-template" id="/home.html">
		<div class="page-header">
			<h1>Flapper News</h1>
		</div>

		<div ng-repeat="post in posts | orderBy: '-upvotes'">
			<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
			{{post.upvotes}}
			<span style="font-size:20px; margin-left:10px;">
				<a ng-show="post.link" href="{{post.link}}">
					{{post.title}}
				</a>
				<span ng-hide="post.link">
					{{post.title}}
				</span>
			</span>

			<span>
				<a href="#/posts/{{$index}}">Comments</a>
			</span>
		</div>

		<form ng-submit="addPost()" style="margin-top:30px;">
			<h3>Add a new post</h3>

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Title" ng-model="title">
				</input>
			</div>

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Link" ng-model="link">
				</input>
			</div>
			<button type="submit" class="btn btn-primary">Post</button>
			
		</form>

		<!-- rest of template -->
	</script>

	<script type="text/ng-template" id="/posts.html">
		<div class="page-header">
			<h3>
				<a ng-show="post.link" href="{{post.link}}">
					{{post.title}}
				</a>
				<span ng-hide="post.link">
					{{post.title}}
				</span>
			</h3>
		</div>

		<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
			<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
			{{comment.upvotes}} - by {{comment.author}}
			<span style="font-size:20px; margin-left:10px;">
				{{comment.body}}
			</span>
		</div>

		<form ng-submit="addComment()" style="margin-top:30px;">
			<h3>Add a new comment</h3>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Comment" ng-model="body">
			</div>
			<button type="submit" class="btn btn-primary">Post</button>
		</form>
	</script>
</body>
</html>

<!-- <div>
		{{test}}
	</div>
		
	<button ng-click="addPost()">Post</button>
	<form ng-submit="addPost()">
		<input type="text" placeholder="Title" ng-model="title"/>
		<input type="text" placeholder="Link" ng-model="link"/>
		<br>
		<button type="submit">Post</button>
	</form> -->